@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer components {
    .content-list {
        @apply flex flex-col;
    }
}

@tailwind utilities;

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-500 dark:bg-green-400;
}
.froid {
    background: linear-gradient(90deg, #3c84f1 0%, #b1e0ee 100%);
}
.chaud {
    background: linear-gradient(90deg, #fc4829 0%, #daae51 100%);
}
.neutral {
    background: linear-gradient(90deg, #c48d9f 0%, #391c68 100%);
}
.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.indicator-item {
    background-color: #daae51;
    border: solid 1px #daae51;
    transform: scale(1) !important;
    transition: all 0.15s ease-out;
}

.indicator-item-disable {
    transform: scale(0) !important;
}

.disable-button {
    filter: grayscale(100%);
}

.apexcharts-tooltip {
    background: #f3f3f3;
    color: orange;
}
