@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@tailwind utilities;

.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
